#! /usr/bin/env bash

#########################
# Project Configuration #
#########################

export APP_ENV=local
export API_PROTOCOL=http
export API_HOST=localhost
export API_PORT=8080

# For connecting to a local postgres instance
export PGHOST=localhost
export PGPORT=5433
export PGDATABASE=bork-local
export PGUSER=postgres
export PGPASS=postgres
export PGSSLMODE=disable

# Add local paths for binaries and scripts
PATH_add ./bin

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi


